/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400&display=swap');

/*========================================================
 Reset
========================================================*/
html{
    -webkit-text-size-adjust:none; /* Chrome, Safari, newer version of Opera*/
    -moz-text-size-adjust:none; /* Firefox */
    -ms-text-size-adjust:none; /* ie */
    -o-text-size-adjust:none; /* old version of opera */
}
html,body{height:100%;font-family:"NanumSquareNeoRegular",AppleSDGothicNeo,GoogleSans,Helvetica,"Malgun Gothic","맑은 고딕",sans-serif;color:#000;font-size:13px;font-weight:normal;word-break:keep-all;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;vertical-align:baseline;box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-box-sizing:border-box;
    -webkit-tap-highlight-color:transparent;
}
body{
    overflow-x:hidden;
    font-size:4.2667vw;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
table{border-collapse:collapse; border-spacing:0;}
table td,table th{word-break:keep-all;word-wrap:break-word;}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal;}
hr{overflow:visible;display:block;height:1px;margin:0;padding:0;border:0;border-top:1px solid #888 ;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}
a{background:transparent; text-decoration:none;color:inherit;cursor:pointer;}
a:hover, a:active{text-decoration:none;outline:0;}
address, caption, cite{font-weight:normal;font-style:normal;}
strong, em, b{font-weight:bold;font-style:normal;}
sub, sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
legend,caption{overflow:hidden;visibility:hidden;width:0;height:0;font-size:0;line-height:0;}
fieldset, img{border:0}
label, select, input, textarea{vertical-align:middle;box-sizing:border-box}
textarea{width:100%;border-radius:0;box-shadow:none;resize:none;appearance:none;
    -ms-overflow-style:none;
    -webkit-appearance:none;
    -webkit-border-radius:0;
}
img{width:100%;vertical-align:top;}
img:not([src]){visibility:hidden;}
select::-ms-expand{display:none;}

img{ 
    width:100%;
    /* width:auto; */
    height:100%;
    /* margin:0 auto; */
    object-fit:cover;
}


/*================================================================================================================*/
*{ font-family: 'Noto Serif KR', serif;}
section{
    margin:25px 0 0 20px;
}
section p{
    position:relative;
    display:inline-block;
    margin-bottom:4px;
    padding:0 5px;
    background-color:#000;
    color:#fff;
    font-size:8vw;
    line-height:11.7334vw;
}
section p::after{
    content:'';
    clear:both;
    position:absolute;
    bottom:3px;
    right:5px;
    left:5px; 
    height:2px;
    background-color:#fff;
}
article{
    margin-top:100px;
}
article:last-child{ padding-bottom:100px;}
article figure{
    position:relative;
    text-align:center;
}
article p{
    position:absolute;
    left:0;
    right:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:calc(100% - 6.1334vw - 10px);
    height:calc(100% - 6.1334vw - 10px);
    margin:0 auto;
    border-radius:100%;
    background-color:#fff;
    color:#000;
    font-size:40vw;
    font-weight:bold;
    z-index:9999;
    
    perspective:1000px;
    transition:transform 0.7s;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
article p span{ 
    position:relative;
    font-size:7vw;
}
article img{
    padding:0 calc(100% / 5.5);
    z-index:0;
    opacity:1;
    transition:opacity 0.5s;
}
article figcaption{
    display:inline-block;
    margin:10px auto 0;
    padding:0 5px;
    background-color:#000;
    color:#fff;
    /* font-size:16px; */
    font-weight:300;
    line-height:6.1334vw;/* 23px */
}

article .active p{
    transform: rotateY(0deg);
}
article .active img{
    opacity:0;
}