@mixin pseudo-element() {
    content:'';
    display:block;
    overflow:hidden;
}

@mixin font-type($type){
    font-family:"Pretendard Variable", Pretendard;
    @if($type == "Pretendard-bold"){
        font-weight:bold;
    }
    @else if($type == "Pretendard-normal"){
        font-weight:normal;
    }
}

@mixin font($type : "size-36") {
    @if($type == "size-36"){ // intro-top-1
        color:#3B3D3B;
        font-size:11.25vw;
        font-weight:600;
        line-height:13.125vw;
        text-align:center;
    }
    @if($type == "size-32"){ // intro-top-2
        color:#3B3D3B;
        font-size:10vw;
        font-weight:600;
        line-height:13.125vw;
        text-align:center;
    }
    @if($type == "size-24"){ // title-top
        color:#48523F;
        font-size:7.5vw;
        font-weight:600;
        line-height:6.875vw;
        text-align:center;
    }
    @else if($type == "size-18"){ // greeting-ment
        color:#333;
        font-size:5.625vw;
        font-weight:400;
        line-height:8.75vw;
        text-align:center;
    }
    @else if($type == "size-16"){ // info-ment
        color:#333;
        font-size:5vw;
        font-weight:400;
        line-height:8.125vw;
        text-align:center;
    }
    @else if($type == "size-14"){ // map-basic-h3
        font-size:4.375vw;
        font-weight:700;
        line-height:6.875vw;
    }
    @else if($type == "size-12"){ // intro-top-2
        font-size:3.75vw;
        font-weight:700;
        line-height:5.625vw;
        text-align:center;
    }
    @else if($type == "size-10"){ // map-basic-info
        font-size:3.125vw;
        font-weight:normal;
        line-height:5.625vw;
    }

}

// @mixin icon($type) {
//     @if($type == "ico-star-white"){
//         width:6.875vw;
//         height:6.875vw;
//         margin:0 auto;
//         background:url('../img/ico-star-white.svg') no-repeat center;
//     }
//     background-size:contain;
// }

// @mixin icon-bg($type) {
//     @if($type == "ico-bg-star"){
//         background:url('../img/ico-star-group.svg') no-repeat center;
//         background-size:contain;
//     }
//     @else if($type == "ico-bg-line-round"){
//         background:url('../img/ico-line-round.svg') no-repeat center;
//         background-size:contain;   
//     }
//     width:100%;
//     height:34.375vw;
// }