@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

html{
  -webkit-text-size-adjust:none; /* Chrome, Safari, newer version of Opera*/
  -moz-text-size-adjust:none; /* Firefox */
  -ms-text-size-adjust:none; /* ie */
  -o-text-size-adjust:none; /* old version of opera */
}
html,body{height:100%;font-family: "Nanum Myeongjo", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;color:#000;font-size:14px;font-weight:400;word-break:keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal; 
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;vertical-align:baseline;box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-box-sizing:border-box;
  -webkit-tap-highlight-color:transparent;
}
body{
  overflow-x:hidden;
  font-size:4.2667vw;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
table{border-collapse:collapse; border-spacing:0;}
table td,table th{word-break:keep-all;word-wrap:break-word;}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal;}
hr{overflow:visible;display:block;height:1px;margin:0;padding:0;border:0;border-top:1px solid #888 ;
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
}
a{background:transparent; text-decoration:none;color:inherit;cursor:pointer;}
a:hover, a:active{text-decoration:none;outline:0;}
address, caption, cite{font-weight:normal;font-style:normal;}
strong, em, b{font-weight:bold;font-style:normal;}
sub, sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
legend,caption{overflow:hidden;visibility:hidden;width:0;height:0;font-size:0;line-height:0;}
fieldset, img{border:0}
label, select, input, textarea{vertical-align:middle;box-sizing:border-box}
textarea{width:100%;border-radius:0;box-shadow:none;resize:none;appearance:none;
  -ms-overflow-style:none;
  -webkit-appearance:none;
  -webkit-border-radius:0;
}
img{width:100%;vertical-align:top;object-fit:cover;}
img:not([src]){visibility:hidden;}
select::-ms-expand{display:none;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}